# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtualenv
venv/
.venv/
.env
.env.*
!.env.example

# Django stuff
db.sqlite3
celerybeat-schedule

# Static & media (se usar mais tarde)
staticfiles/
media/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.dev.*

# macOS
.DS_Store